{% extends 'base.html' %}

{% load static %}

{% load i18n %}

{% block title %} {{setting.title}} {% endblock %}

{% block page_description %} {{setting.description}} {% endblock %}

{% block page_keywords %} {{setting.keywords}} {% endblock %}

{% block extracss %}{% endblock %}


{% block content %}

<!--Slider-->
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        {% for slider in Sliders %}
        <div class="carousel-item {% if forloop.first %} active{% endif %}">
            <img src="media/{{slider.image}}" class="d-block w-100" alt="{{slider.title}}">
        </div>
        {% endfor %}
        
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<!--Slider-->
<!--Hakkımızda-->
<div class="row mt-4 mb-4">
    <div class="col-md-8">
        <h2 class="mb-4">{{Abouts.title}}</h2>
        <p>{{Abouts.content|safe|truncatechars:600}}
        </p>
        <a href="{% url 'about' %}" class="btn btn-primary">{% translate 'Daha Fazla' %}</a>
    </div>

    <div class="col-md-4">
        <img src="https://picsum.photos/id/1/400/300" alt="Hakkımızda Resmi" class="img-fluid">
    </div>
</div>
<!--Hakkımızda→

    <!--Services-->
<div class="row mt-4 mb-4">
    <h2 class="mb-4">{% translate 'Hizmetler' %}</h2>

    {% for service in Services %}
    <!-- Card 1 -->
    <div class="col-md-3 mt-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{service.title}}</h5>
                <p class="card-text">{{service.content|safe|truncatechars:69}}</p>
            </div>
        </div>
        
    
    </div>

    {% endfor %}


    

    
</div>
<a href="{% url 'services' %}" class="btn btn-primary">{% translate 'Daha Fazla' %}</a>
<!--Services→

<!--Blogs-->
<div class="row mt-4 mb-4">
    <h2 class="mb-4">{% translate 'Blog' %}</h2>
    <!-- Card 1 -->
    {% for blog in Blogs %}
    <div class="col-md-3">
        <div class="card">
            <img src="media/{{blog.image}}" class="card-img-top" alt="{{blog.title}}">
            <div class="card-body">
                <h5 class="card-title">{{blog.title}}</h5>
                <p class="card-text">{{blog.content|safe|truncatechars:275}}</p>
                <a href="{% url 'blog-details' slug=blog.slug %}" class="btn btn-primary">{% translate 'Detaylar' %}</a>
            </div>
        </div>
    </div>
    {% endfor %}



</div>
</div>
<!--Blogs-->




{% endblock %}



